window.applauncher {
    background-color: $text;

    border-radius: 10px;
}

.applauncher {
    border-radius: 20px;
    background-color: $crust;
}

.al-list * {
    background-color: $mantle;
    border-radius: 10px;
}

.al-list {
    background-color: $crust;
}

.al-papp {
    background-color: transparent;
}

.al-plist button:hover {
    background-color: transparent;
}
