*{
    color: transparent;
    font-size: 16;
}

window.bar {
    background-color: $crust;
    color: $text;
    border-radius: 10px;
}

button {
    padding: 2px;

}

.toggle-button button:hover {
    border-color: $text;
}


.bar-workspaces button {
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14;
    border-color: transparent;
}

.bar-workspaces {
    padding-right: 10px;
    padding-left: 10px;
}


.bar-media {
	background-color: transparent;
}

.bar-media button {
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14;
    border-color: transparent;
}

.bar-media_icon {
	background-color: transparent;
}


.bar-clock button{
    background-color: transparent;

    border-color: transparent;
}

.bar-clock .toggleButton {
    border: 2px solid transparent;
    padding: 0px 10px 0px 10px;
}

.bar-clock .active {
    border: 2px solid $lavender;

    border-radius: 10px 10px 10px 10px;
}

.bar-clock .toggleButton:hover {
    padding: 0px 10px 0px 10px;
    border-color: $text;
    border-radius: 10px;
}

.bar-colorpicker button:hover {
    background-color: transparent;
    border:2px solid $text;
    border-radius: 10px;
}

.bar-colorpicker button {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 10px;
}

.bar-colorpicker * {
    background-color: transparent;
}

.bar-qs {
}

.bar-qs button {
	border-color: transparent;
}

.bar-qs .toggleButton {
    border: 2px solid transparent;
    padding: 0px 10px 0px 10px;
    background-color: transparent;
}

.bar-qs .active {
    border: 2px solid $lavender;
    border-radius: 10px 10px 10px 10px;
}

.bar-qs .toggleButton:hover {
    padding: 0px 10px 0px 10px;
    border-color: $text;
    border-radius: 10px;
}

.bar-tray {
    border-color: transparent;
    padding-left: 10px;
    padding-right: 10px;

}

.bar-tray-items {
	background-color: transparent;
	border-color: transparent;
}

.bar-powermenu button {
	border-color: transparent;
	margin-right: 10px;
    background-color: transparent;
}

.bar-powermenu button:hover {
	margin-right: 10px;
    background-color: transparent;
}

