.datemenu {
    background-color: $crust;

    padding:20px;

    border-radius: 10px;
}

.datemenu .clock {
    background-color: $base;

    border-radius: 10px;
}

.datemenu .calendar {
    background-color: $base;

    padding: 10px;

    border-radius: 10px;
}

.datemenu .calendar:indeterminate {
    color: $overlay0;
}

.datemenu .calendar.highlight {
    color: $overlay2;
}

.datemenu .calendar:selected {
    background-color: $base;
}

.datemenu .notifications {
    background-color: $base;

    padding:10px;

    border-radius: 10px;
}

.datemenu .notification-label {
    background-color: $base;

    padding:10px;
    
    font-size: 20;

    border-radius: 10px;
}

.datemenu .notification-label button {
    background-color: $base;

    padding:5px 10px 5px 10px;
    
    font-size: 20;

    border-radius: 10px;
    border-color: transparent;
}

.datemenu .notification-label button:hover {
    border-color: $text;
}

.datemenu .notification {
    background-color: $base;

    padding:10px;

    border-radius: 10px;
}

.datemenu .notifications separator {

    border-radius: 10px;
}

.datemenu .notification.critical {
    background-color: $base;

    padding:10px;

    border-radius: 10px;
    border: 1px solid $red;
}

.datemenu .notification .title {
    padding:5px;
    font-size: 20;
    border-radius: 10px;
}

.datemenu .notification separator {
    border-radius: 10px;
}

.datemenu .notification button {
    background-color: $base;
    
    padding:5px;
    
    border-color: transparent;
    border-radius: 10px;
}

.datemenu .notification button:hover {
    background-color: $base;
    
    padding:5px;
    
    border-color: $text;
    border-radius: 10px;
}
