window.powermenu {
	background-color: $mantle;
}

 * {
     min-width: 0px;
     color: $text;
}

.quicksettings {
	background-color: $crust;
	border-radius: 20px;
	padding: 20px;
}

.qs-header {
    background-color: transparent;
    
	border-radius: 20px;
}

.qs-avatar {

	border: 5px solid $base;
}

.qs-header button {
	background-color: $base;
	margin-left: 5px;
	margin-right: 5px;
	
	padding: 5px;

	border-color: transparent;
	border-radius: 10px;
}

.qs-cluster {
	background-color: transparent;

	border-radius: 10px;

}

.qs-cluster .toggle-cluster button {
	background-color: $base;
	margin: 10px;
	
	padding: 10px;

	border-color: transparent;
	border-radius: 10px;
}

.qs-cluster .arrowtoggle {
    background-color: $base;
    border-radius: 10px;
    
    margin: 10px;

    padding: 10px;
}

.qs-cluster .arrowtoggle button {
    background-color: transparent;
}

.qs-sliders {
	background-color: $base;
	padding: 10px;
	border-radius: 10px;

}

.qs-slider slider {
	background-color: transparent;

	min-width: 2px;
	min-height: 1px;
	
	margin: 3px;

	border-color: transparent;
}

.qs-slider highlight {
	background-color: $sapphire;
	
	border-radius: 10px;
}

.qs-slider trough {
	background-color: $base;
	border-radius: 10px;
}
.qs-player * {
	min-width: 0px;
}

.qs-player {
	background-color: $base;

	padding: 10px;
	
	border-radius: 10px;
}

.qs-player button {
    background-color: transparent;
	
	padding: 5px 10px 5px 10px;

	border-color: transparent;
	border-radius: 10px;
	margin: 0 5px 0 5px;
}

.qs-player .img {
    border-radius: 10px;
}

.qs-weather {
    background-color: $base;
    
    padding: 10px;

    border-radius: 10px;
}


