* {
  color: transparent;
  font-size: 16; }

window.bar {
  background-color: #11111b;
  color: #cdd6f4;
  border-radius: 10px; }

button {
  padding: 2px; }

.toggle-button button:hover {
  border-color: #cdd6f4; }

.bar-workspaces button {
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14;
  border-color: transparent; }

.bar-workspaces {
  padding-right: 10px;
  padding-left: 10px; }

.bar-media {
  background-color: transparent; }

.bar-media button {
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14;
  border-color: transparent; }

.bar-media_icon {
  background-color: transparent; }

.bar-clock button {
  background-color: transparent;
  border-color: transparent; }

.bar-clock .toggleButton {
  border: 2px solid transparent;
  padding: 0px 10px 0px 10px; }

.bar-clock .active {
  border: 2px solid #b4befe;
  border-radius: 10px 10px 10px 10px; }

.bar-clock .toggleButton:hover {
  padding: 0px 10px 0px 10px;
  border-color: #cdd6f4;
  border-radius: 10px; }

.bar-colorpicker button:hover {
  background-color: transparent;
  border: 2px solid #cdd6f4;
  border-radius: 10px; }

.bar-colorpicker button {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 10px; }

.bar-colorpicker * {
  background-color: transparent; }

.bar-qs button {
  border-color: transparent; }

.bar-qs .toggleButton {
  border: 2px solid transparent;
  padding: 0px 10px 0px 10px;
  background-color: transparent; }

.bar-qs .active {
  border: 2px solid #b4befe;
  border-radius: 10px 10px 10px 10px; }

.bar-qs .toggleButton:hover {
  padding: 0px 10px 0px 10px;
  border-color: #cdd6f4;
  border-radius: 10px; }

.bar-tray {
  border-color: transparent;
  padding-left: 10px;
  padding-right: 10px; }

.bar-tray-items {
  background-color: transparent;
  border-color: transparent; }

.bar-powermenu button {
  border-color: transparent;
  margin-right: 10px;
  background-color: transparent; }

.bar-powermenu button:hover {
  margin-right: 10px;
  background-color: transparent; }

.datemenu {
  background-color: #11111b;
  padding: 20px;
  border-radius: 10px; }

.datemenu .clock {
  background-color: #1e1e2e;
  border-radius: 10px; }

.datemenu .calendar {
  background-color: #1e1e2e;
  padding: 10px;
  border-radius: 10px; }

.datemenu .calendar:indeterminate {
  color: #6c7086; }

.datemenu .calendar.highlight {
  color: #9399b2; }

.datemenu .calendar:selected {
  background-color: #1e1e2e; }

.datemenu .notifications {
  background-color: #1e1e2e;
  padding: 10px;
  border-radius: 10px; }

.datemenu .notification-label {
  background-color: #1e1e2e;
  padding: 10px;
  font-size: 20;
  border-radius: 10px; }

.datemenu .notification-label button {
  background-color: #1e1e2e;
  padding: 5px 10px 5px 10px;
  font-size: 20;
  border-radius: 10px;
  border-color: transparent; }

.datemenu .notification-label button:hover {
  border-color: #cdd6f4; }

.datemenu .notification {
  background-color: #1e1e2e;
  padding: 10px;
  border-radius: 10px; }

.datemenu .notifications separator {
  border-radius: 10px; }

.datemenu .notification.critical {
  background-color: #1e1e2e;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f38ba8; }

.datemenu .notification .title {
  padding: 5px;
  font-size: 20;
  border-radius: 10px; }

.datemenu .notification separator {
  border-radius: 10px; }

.datemenu .notification button {
  background-color: #1e1e2e;
  padding: 5px;
  border-color: transparent;
  border-radius: 10px; }

.datemenu .notification button:hover {
  background-color: #1e1e2e;
  padding: 5px;
  border-color: #cdd6f4;
  border-radius: 10px; }

.powermenu {
  border-radius: 10px; }

.powermenu-action {
  background-color: #181825;
  border-color: transparent; }

.powermenu button {
  padding: 30px; }

.powermenu button:hover {
  border-color: #cdd6f4; }

window.applauncher {
  background-color: #cdd6f4;
  border-radius: 10px; }

.applauncher {
  border-radius: 20px;
  background-color: #11111b; }

.al-list * {
  background-color: #181825;
  border-radius: 10px; }

.al-list {
  background-color: #11111b; }

.al-papp {
  background-color: transparent; }

.al-plist button:hover {
  background-color: transparent; }

window.powermenu {
  background-color: #181825; }

* {
  min-width: 0px;
  color: #cdd6f4; }

.quicksettings {
  background-color: #11111b;
  border-radius: 20px;
  padding: 20px; }

.qs-header {
  background-color: transparent;
  border-radius: 20px; }

.qs-avatar {
  border: 5px solid #1e1e2e; }

.qs-header button {
  background-color: #1e1e2e;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border-color: transparent;
  border-radius: 10px; }

.qs-cluster {
  background-color: transparent;
  border-radius: 10px; }

.qs-cluster .toggle-cluster button {
  background-color: #1e1e2e;
  margin: 10px;
  padding: 10px;
  border-color: transparent;
  border-radius: 10px; }

.qs-cluster .arrowtoggle {
  background-color: #1e1e2e;
  border-radius: 10px;
  margin: 10px;
  padding: 10px; }

.qs-cluster .arrowtoggle button {
  background-color: transparent; }

.qs-sliders {
  background-color: #1e1e2e;
  padding: 10px;
  border-radius: 10px; }

.qs-slider slider {
  background-color: transparent;
  min-width: 2px;
  min-height: 1px;
  margin: 3px;
  border-color: transparent; }

.qs-slider highlight {
  background-color: #74c7ec;
  border-radius: 10px; }

.qs-slider trough {
  background-color: #1e1e2e;
  border-radius: 10px; }

.qs-player * {
  min-width: 0px; }

.qs-player {
  background-color: #1e1e2e;
  padding: 10px;
  border-radius: 10px; }

.qs-player button {
  background-color: transparent;
  padding: 5px 10px 5px 10px;
  border-color: transparent;
  border-radius: 10px;
  margin: 0 5px 0 5px; }

.qs-player .img {
  border-radius: 10px; }

.qs-weather {
  background-color: #1e1e2e;
  padding: 10px;
  border-radius: 10px; }
